.main_container {
    /* width: 100%; */
    height: auto;
    min-height: 100vh;
    padding: 24px;
    margin-top: 72px;
    background: #F2F2F2;
}

.dashboard {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #1A1A1A;
    margin-top: 8px;
}

.edit_profile_div {
    /* width: 100%; */
    height: auto;
    min-height: 870px;
    background: #FFFFFF;
    margin-top: 24px;
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 24px;
}

.image_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 200px;
    height: 235px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
}

.showimage {
    Width: 180px;
    Height: 180px;
    background: #F2F2F2;
    border: 1px dashed #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    display: grid;
    place-items: center;
}

.btn_image {
    width: 180px;
    height: 25px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 10px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #D90429;
    cursor: pointer;
}